.navbar-nav>li {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

html {
  overflow-y: scroll;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.card {
  margin-bottom: 10px;
  padding: 5px;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}